@charset "utf-8";

body {
    font-size: 14px;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #fff0e0;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px #9f5990;
}

.nav-bar-btn-wrap {
    width: 30px;
    padding: 13px;
}

.nav-bar-btn {
    display: block;
    background-image: url(../images/sprite-nav-bar.png);
    width: 30px;
    height: 30px;
    background-size: 30px;
}

.nav-bar-btn.is_back {
    background-position: 0 -30px;
}

.nav-bar-btn.is_submenu {
    background-position: 0 -60px;
}

.nav-bar__title {
    width: 100%;
    margin-right: 56px;
    text-align: center;
    font-weight: bold;
    color: #840d6b;
}

.tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px #9f5990;
}

.tab-bar-list {
    display: flex;
    justify-content: space-around;
}

.tab-bar-list-item {
    width: 25%;
}

.tab-bar-list-item__link {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    padding: 15px 11px;
    background-image: url(../images/sprite-tab-bar.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
}

.tab-bar-list-item__link.is_home {
    background-position: 0 0px;
}

.tab-bar-list-item__link.is_chat {
    background-position: 0 -26px;
}

.tab-bar-list-item__link.is_foot {
    background-position: 0 -52px;
}

.tab-bar-list-item__link.is_follow {
    background-position: 0 -78px;
}

.tab-bar-list-item__link.is_call-setting {
    background-position: 0 -104px;
}

@media screen and (min-width: 768px) {
    .nav-bar-btn-wrap {
        width: 30px;
        padding: 15px 20px;
    }

    .nav-bar__title {
        font-size: 22px;
        margin-right: 70px;
    }
    
    .tab-bar-list-item__link {
        width: 30px;
        height: 30px;
        padding: 15px 40px;
        background-size: 30px;
    }
    
    .tab-bar-list-item__link.is_home {
        background-position: 0 0px;
    }
    
    .tab-bar-list-item__link.is_chat {
        background-position: 0 -30px;
    }

    .tab-bar-list-item__link.is_foot {
        background-position: 0 -60px;
    }

    .tab-bar-list-item__link.is_follow {
        background-position: 0 -90px;
    }

    .tab-bar-list-item__link.is_call-setting {
        background-position: 0 -120px;
    }
}