@charset "utf-8";

body {
    background-color: #ffffff;
}

.tab-bar {
    position: static;
    margin-top: 58px;
    box-shadow: none;
    border-bottom: 1px solid #d5d9db;
}

.tab-bar-list-item__link.is_chat {
    background-position: 0 -156px;
}

.message-action {
    width: 100%;
    border-bottom: 1px solid #d5d9db;
}

.message-action-list {
    display: flex;
    justify-content: space-around;
}

.message-action-list-item {
    width: 33.33%;
}

.message-action-list-item__action {
    width: 65px;
    height: 38px;
    margin: 0 auto;
    padding: 10px 15px 7px;
    font-size: 10px;
    text-align: center;
}

.message-action-list-item__action-icon {
    width: 22px;
    height: 22px;
    margin: 0 auto 5px;
    background-image: url(../images/sprite-btn-action.png);
    background-size: 22px;
}

.message-action-list-item__action-icon.is_already-read {
    background-position: 0 0;
}

.message-action-list-item__action-icon.is_delete-selected {
    background-position: 0 -22px;
}

.message-action-list-item__action-icon.is_delete-all {
    background-position: 0 -44px;
}

.chat-list-item-link {
    overflow: hidden;
}

.chat-list-item-thumbnail {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    padding: 12px 8px 12px 16px;
    float: left;
}

.chat-list-item-thumbnail__image {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.chat-list-item-data {
    position: relative;
    box-sizing: border-box;
    height: 80px;
    padding: 16px 16px 12px 0;
    border-bottom: 1px solid #e2e5e6;
}

.chat-list-item:last-child .chat-list-item-data {
    border-bottom: none;
}

.chat-list-item.is_unread:first-child .chat-list-item-data:after {
    content: '2';
    position: absolute;
    top: 40px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e4a644;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.chat-list-item.is_unread:nth-child(2) .chat-list-item-data:after {
    content: '1';
    position: absolute;
    top: 40px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e4a644;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.chat-list-item.is_unread:nth-child(3) .chat-list-item-data:after {
    content: '3';
    position: absolute;
    top: 40px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e4a644;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.chat-list-item-data-summary {
    display: flex;
    align-items: center;
}

.chat-list-item-data-summary__text {
    color: #969696;
}

.chat-list-item-data-summary__text.is_name {
    font-weight: bold;
    color: #000;
}

.chat-list-item-data-summary__text.is_address {
    position: relative;
    margin-left: 20px;
    font-size: 10px;
}

.chat-list-item-data-summary__text.is_address:before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 6px;
    height: 10px;
    background-image: url(../images/sprite-icon-detail.png);
    background-size: 10px;
}

.chat-list-item-data-summary__text.is_time {
    position: relative;
    margin-left: auto;
    font-size: 10px;
    text-align: right;
}

.chat-list-item-data-summary__text.is_time:before {
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    width: 10px;
    height: 10px;
    background-image: url(../images/sprite-icon-detail.png);
    background-size: 10px;
    background-position: 0 -10px;
}

.chat-list-item-data__detail {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 6px;
    padding-right: 44px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.2em;
}

@media screen and (min-width: 768px) {
    .tab-bar {
        margin-top: 62px;
    }
    
    .tab-bar-list-item__link.is_chat {
        background-position: 0 -180px;
    }
    
    .message-action-list-item__action {
        padding: 10px 30px;
    }
    
    .chat-list-item-thumbnail {
        width: 152px;
        height: 112px;
        padding: 8px 18px 8px 38px; 
    }
    
    .chat-list-item-data {
        height: 112px;
        padding: 24px 38px 24px 0;
    }
    
    .chat-list-item.is_unread:first-child .chat-list-item-data:after {
        top: 56px;
        right: 38px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-size: 18px;
        line-height: 30px;
    }
    
    .chat-list-item.is_unread:nth-child(2) .chat-list-item-data:after {
        top: 56px;
        right: 38px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-size: 18px;
        line-height: 30px;
    }

    .chat-list-item.is_unread:nth-child(3) .chat-list-item-data:after {
        top: 56px;
        right: 38px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-size: 18px;
        line-height: 30px;
    }
    
    .chat-list-item-data-summary__text.is_name {
        font-size: 20px;
    }
    
    .chat-list-item-data-summary__text.is_address {
        font-size: 14px;
    }
    
    .chat-list-item-data-summary__text.is_address:before {
        left: -11px;
        width: 9px;
        height: 14px;
        background-size: 14px;
    }
    
    .chat-list-item-data-summary__text.is_time {
        font-size: 14px;
    }
    
    .chat-list-item-data-summary__text.is_time:before {
        left: -18px;
        width: 14px;
        height: 14px;
        background-size: 14px;
        background-position: 0 -14px;
    }
    
    .chat-list-item-data__detail {
        margin-top: 8px;
        padding-right: 112px;
        font-size: 14px;
    }
}