@charset "utf-8";

body {
    background-color: #fff;
    color: #fff;
}

.nav-bar__title {
    margin-right: 0;
}

.primary {
    margin-top: 58px;
}

.thumbnail {
    position: relative;
}

.thumbnail-btn-action-list {
    display: flex;
    position: absolute;
    top: 10px;
    right: 13px;
}

.thumbnail-btn-action-list-item {
    margin-left: 22px;
}

.thumbnail-btn-action-list-item__icon {
    position: relative;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.3);
}

.thumbnail-btn-action-list-item__icon:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite-btn-profile.png);
    background-size: 20px;
}

.thumbnail-btn-action-list-item__icon.is_follow:before {
    top: 4px;
    left: 3px;
    background-position: 0 -180px;
}

.thumbnail-btn-action-list-item__icon.is_gift:before {
    top: 2px;
    left: 3px;
    background-position: 0 -200px;
}

.thumbnail-btn-action-list-item__icon.is_online:before {
    top: 3px;
    left: 3px;
    background-position: 0 -220px;
}

.thumbnail__image {
    display: block;
    width: 100%;
}

.thumbnail__comment {
    position: absolute;
    bottom: 10px;
    left: 0;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 0 9px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 1.3em;
}

.profile-data {
    background: #b15ca4 url(../images/bg-profile-data.png) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}

.profile-data-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

.profile-data-summary__text.is_name {
    font-size: 24px;
}

.profile-data-summary-inner {
    padding: 25px 16px 25px 24px;
}

.profile-data-summary__icon {
    width: 0px;
    height: 0px;
    border-top: 10px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.profile-data-detail {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 20px;
    font-size: 12px;
}

.profile-data-detail__text {
    position: relative;
    box-sizing: border-box;
    margin-left: 12px;
}

.profile-data-detail__text.is_age, .profile-data-detail__text.is_time {
    margin-left: 16px;
}

.profile-data-detail__text:before {
    content: '';
    position: absolute;
    top: 0;
    height: 12px;
    background-image: url(../images/sprite-icon-detail.png);
    background-size: 12px;
}

.profile-data-detail__text.is_age:before {
    left: -15px;
    width: 12px;
    background-position: 0 -24px;
}

.profile-data-detail__text.is_address:before {
    left: -10px;
    width: 8px;
    background-position: 0 -36px;
}

.profile-data-detail__text.is_work:before {
    left: -10px;
    width: 8px;
    background-position: 0 -48px;
}

.profile-data-detail__text.is_time:before {
    left: -15px;
    width: 12px;
    background-position: 0 -60px;
}

.action-list {
    display: flex;
    justify-content: space-between;
}

.action-list-item {
    width: 33%;
    background-color: #969696;
}

.action-list-item:first-child {
    background-color: #840d6b;
}

.action-list-item.is_active {
    background-color: #64a800;
}

.action-list-item-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 0 11px;
    font-size: 11px;
    line-height: 1.2em;
    color: #fff;
}

.action-list-item__icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/sprite-btn-profile.png);
    background-size: 24px;
}

.action-list-item__icon.is_call {
    background-position: 0 -24px;
}

.action-list-item__icon.is_video {
    background-position: 0 -48px;
}

.timeline-switch-list {
    display: flex;
    justify-content: space-around;
}

.timeline-switch-list-item {
    width: 33.33%;
}

.timeline-switch-list-item-inner {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    padding: 15px 25px;
    background-image: url(../images/sprite-btn-profile.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
}

.timeline-switch-list-item-inner.is_thumbnail {
    background-position: 0 -156px;
}

.timeline-switch-list-item-inner.is_timeline {
    background-position: 0 -338px;
}

.timeline-switch-list-item-inner.is_secret-image {
    position: relative;
    background-position: 0 -208px;
}

.timeline-switch-list-item-inner.is_secret-image:after {
    content: '4';
    position: absolute;
    top: 12px;
    right: 22px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #e4a644;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: #fff;
}

.timeline-thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px 56px 0;
    background-color: #e2e5e6;
    font-size: 12px;
    color: #fff;
}

.timeline-thumbnail-list-item {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 0 2px 2px;
}

.timeline-thumbnail-list-item__image {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    br {
        display: none;
    }
    
    .primary {
        margin-top: 62px;
    }
    
    .thumbnail-btn-action-list {
        top: 20px;
        right: 25px;
    }
    
    .thumbnail-btn-action-list-item {
        margin-left: 40px;
    }
    
    .thumbnail-btn-action-list-item__icon {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .thumbnail-btn-action-list-item__icon:before {
        width: 30px;
        height: 30px;
        background-size: 30px;
    }

    .thumbnail-btn-action-list-item__icon.is_follow:before {
        top: 6px;
        left: 5px;
        background-position: 0 -270px;
    }

    .thumbnail-btn-action-list-item__icon.is_gift:before {
        top: 4px;
        left: 5px;
        background-position: 0 -300px;
    }

    .thumbnail-btn-action-list-item__icon.is_online:before {
        top: 4px;
        left: 5px;
        background-position: 0 -330px;
    }

    
    .thumbnail__comment {
        bottom: 20px;
        left: 38px;
        margin: 0;
        font-size: 16px;
        line-height: 1.4em;
    }
    
    .profile-data-summary {
        padding-left: 38px;
    }
    
    .profile-data-summary-inner {
        padding: 29px 38px 29px 29px;
    }
    
    .profile-data-detail {
        padding: 0 38px 24px;
        font-size: 14px;
    }
    
    .profile-data-detail__text:before {
        top: 0;
        height: 14px;
        background-size: 14px;
    }
    
    .profile-data-detail__text.is_age:before {
        left: -18px;
        width: 14px;
        background-position: 0 -28px;
    }

    .profile-data-detail__text.is_address:before {
        left: -12px;
        width: 10px;
        background-position: 0 -42px;
    }

    .profile-data-detail__text.is_work:before {
        left: -12px;
        width: 10px;
        background-position: 0 -56px;
    }

    .profile-data-detail__text.is_time:before {
        left: -18px;
        width: 14px;
        background-position: 0 -70px;
    }
    
    .action-list-item-inner {
        height: 60px;
        padding: 0 40px;
        font-size: 14px;
    }
    
    .action-list-item__icon {
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .action-list-item__icon.is_call {
        background-position: 0 -27px;
    }

    .action-list-item__icon.is_video {
        background-position: 0 -52px;
    }
    
    .timeline-switch-list-item-inner {
        width: 30px;
        height: 30px;
        padding: 15px 40px;
        background-size: 30px;
    }
    
    .timeline-switch-list-item-inner.is_thumbnail {
        background-position: 0 -180px;
    }

    .timeline-switch-list-item-inner.is_timeline {
        background-position: 0 -390px;
    }

    .timeline-switch-list-item-inner.is_secret-image {
        position: relative;
        background-position: 0 -240px;
    }
    
    .timeline-switch-list-item-inner.is_secret-image:after {
        top: 13px;
        right: 38px;
    }
    
    .timeline-thumbnail-list {
        padding: 5px 5px 30px 0;
    }

    .timeline-thumbnail-list-item {
        padding: 0 0 5px 5px;
    }
}