@charset "utf-8";

.banner-wrap {
    margin: 62px 0 6px;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
}

.segmented-control {
    display: flex;
    background-color: #fff;
}

.segmented-control__btn-switch-wrap {
    width: 22px;
    padding: 12px;
}

.segmented-control__btn-switch {
    display: block;
    background-image: url(../images/btn-segmented-control-switch.png);
    width: 22px;
    height: 22px;
    background-size: 22px;
}

.segmented-control-list {
    display: flex;
    width: 100%;
    text-align: center;
}

.segmented-control-list-item {
    display: flex;
    justify-content: center;
    width: 25%;
    border-bottom: 1.3px solid #840d6b;
}

.segmented-control-list-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}

.segmented-control-list-item__link:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 30%;
    height: 40%;
    border-right: 2px solid #d5d9db;
}

.segmented-control-list-item.is_active {
    border-bottom: 3px solid #840d6b;
}

.segmented-control-list-item.is_active .segmented-control-list-item__link {
    color: #840d6b;
    font-weight: bold;
}

.segmented-control-list-item:last-child .segmented-control-list-item__link:before {
    content: none;
}

.user-list-wrap {
    margin-bottom: 70px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px 0 0;
    font-size: 12px;
    color: #fff;
}

.user-list-item {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 0 2px 2px;
}

.user-list-item-link {
    position: relative;
    color: #fff;
}

.user-list-item-link:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite-icon-state.png);
    background-size: 16px;
}

.user-list-item__thumbnail {
    display: block;
    width: 100%;
    height: auto;
}

.user-list-item.state_chat .user-list-item-link:before {
    background-position: 0 0;
}

.user-list-item.state_video .user-list-item-link:before {
    background-position: 0 -16px;
}

.user-list-item.state_voice .user-list-item-link:before {
    background-position: 0 -32px;
}

.user-list-item-data {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.user-list-item-data-summary {
    display: flex;
    justify-content: space-between;
    padding: 3px 4px;
    background: linear-gradient(#fff, #9f5990);
    opacity: 0.8;
    font-size: 10px;
}

.tab-bar-list-item__link.is_home {
    background-position: 0 -130px;
}

@media screen and (min-width: 768px) {
    .banner-wrap {
       margin: 66px 0 6px;
    }
    
    .segmented-control__btn-switch-wrap {
        width: 30px;
        padding: 10px 20px;
    }
    
    .segmented-control__btn-switch {
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
    
    .segmented-control-list-item__link {
        font-size: 20px;
    }
      
    .user-list {
        padding: 5px 5px 0 0;
    }
    
    .user-list-item {
        padding: 0 0 5px 5px;
    }
    
    .user-list-item-link:before {
        top: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
        background-size: 25px;
    }
    
    .user-list-item.state_video .user-list-item-link:before {
        background-position: 0 -25px;
    }

    .user-list-item.state_voice .user-list-item-link:before {
        background-position: 0 -50px;
    }
    
    .user-list-item-data-summary {
        padding: 8px 10px;
        font-size: 18px;
    }
    
    .tab-bar-list-item__link.is_home {
        background-position: 0 -150px;
    }
}